*{
  box-sizing: border-box;
}
label{
  display: inline;
  margin-right: 40%;
  float:right ;
}
.App{
  background-image: url('./todo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.todo-wrapper{
  background-color: white;
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.todo-fields{
  font-family: cursive;
  font-weight: 600;
}
.todo-input{
  width: 100%;
  padding: 30px;
}
.todo-input-item{
  margin-bottom: 2%;
}
input{
  width: 100%;
}
.todo-list{
  text-align: center;
  padding : 20px;
}
.card-area{
  min-height: 150px;
}
.btn-area{
  width: 100%;
  align-items: center;
  font-family: cursive;
}
.active{
  background-color: gainsboro;
  border : 2px solid rgb(8, 129, 242)
}